@{
    ViewBag.Title = "SearchVideo";
    int i = 0;
}

@section Menu {
    @Scripts.Render("~/Scripts/Home/SearchVideo/menu")
}

@model WebApplication.Models.VideoModels

@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/dist/css/admin-lte.css")
@Styles.Render("~/AdminLTE/plugins/icheck/css")
@Styles.Render("~/AdminLTE/plugins/colorpicker/css")
@Styles.Render("~/AdminLTE/plugins/timepicker/css")
@Styles.Render("~/AdminLTE/plugins/select2/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/dist/css/skins")


@*Start timeline*@
<div class="row">
    @using (Html.BeginForm("_SearchVideo", "Home", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
    {
    <div class="box-body">
        <button id="checkAllBtn" name="checkAllBtn" class="btn btn-app" value="">
            <i class="fa fa-check-square-o"></i> Add All
        </button>
        <button id="removeAllBtn" name="removeAllBtn" class="btn btn-app">
            <i class="fa fa-times"></i> Remove All
        </button>
        <button id="analiseBtn" name="analiseBtn" class="btn btn-app pull-right">
            <i class="fa fa-send-o"></i> Analise
        </button>
    </div>
    }
    <div class="col-md-12">
        @foreach (var vid in ViewBag.Videos)
        {
            <div class="col-md-4 videoDiv">
                <div class="timeline-item">
                    <h4 class="timeline-header videoHeader">
                        <a href="https://www.youtube.com/channel/@vid.ChannelId"> @vid.ChannelTitle</a> shared a video
                    </h4>
                    <span class="time"><i class="fa fa-clock-o"> @vid.PublishedAt</i> </span>
                    <div class="timeline-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@vid.VideoId" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="timeline-footer">
                        <a href="#" class="btn btn-xs bg-maroon">See comments</a>
                        <div class="checkboxThree">
                            <input type="checkbox" id="@string.Format("videoCb{0}", i)" name="" value="1"/>
                            <label for="@string.Format("videoCb{0}", i++)"></label>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*Finish Timeline*@


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/jquery-ui/js")
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/AdminLTE/dist/js/app.js")
    @Scripts.Render("~/Scripts/Home/DashboardV0")
}