@using System.Web.Script.Serialization
@using Newtonsoft.Json
@using WebApplication.Models

@{
    ViewBag.Title = "Dashboard v1";

    var vidMed = new AspVideoAnalysisSegment();
    var textMed = new AspTextAnalisysSegment();
    var soundMed = new AspSoundAnalisysSegment();

    var dataList1 = new List<VideoGraphData>();
    foreach (var m in Model.AspVideoAnalysisSegments)
    {
        var data = new VideoGraphData();
        data.y = m.VideoSegmentIndex.ToString();
        data.item1 = m.Anger;
        data.item2 = m.Contempt;
        data.item3 = m.Disgust;
        data.item4 = m.Fear;
        data.item5 = m.Happiness;
        data.item6 = m.Neutral;
        data.item7 = m.Sadness;
        data.item8 = m.Surprise;
        dataList1.Add(data);
        if (m.VideoSegmentIndex == -1)
        {
            vidMed = m; ;
        }
    }
    var jsonSerializer = new JavaScriptSerializer();
    var videoGraph = jsonSerializer.Serialize(dataList1);

    var dataList2 = new List<TextGraphData>();
    foreach (var m in Model.AspTextAnalisysSegments)
    {
        var data = new TextGraphData();
        data.y = m.TextSegmentIndex.ToString();
        data.item1 = m.Anger.ToString();
        data.item2 = m.Disgust.ToString();
        data.item3 = m.Fear.ToString();
        data.item4 = m.Joy.ToString();
        data.item5 = m.Sadness.ToString();
        dataList2.Add(data);
        if (m.TextSegmentIndex == -1)
        {
            textMed = m; ;
        }
    }
    var textGraph = jsonSerializer.Serialize(dataList2);

    var dataList3 = new List<SoundGraphData>();
    foreach (var m in Model.AspSoundAnalisysSegments)
    {
        var data = new SoundGraphData();
        data.y = m.SoundSegmentIndex.ToString();
        data.item1 = m.TemperVal.ToString();
        data.item2 = m.ValenceVal.ToString();
        data.item3 = m.ArousalVal.ToString();
        dataList3.Add(data);
        if (m.SoundSegmentIndex == -1)
        {
            soundMed = m; ;
        }
    }
    var soundGraph = jsonSerializer.Serialize(dataList3);


    var vidMean = 0;
    if ((vidMed.Anger + vidMed.Contempt + vidMed.Disgust + vidMed.Fear) > (vidMed.Neutral + vidMed.Sadness) && (vidMed.Anger + vidMed.Contempt + vidMed.Disgust + vidMed.Fear) > (vidMed.Happiness + vidMed.Surprise))
    {
        vidMean = 1;
    }else if ((vidMed.Neutral + vidMed.Sadness) > (vidMed.Anger + vidMed.Contempt + vidMed.Disgust + vidMed.Fear) && (vidMed.Neutral + vidMed.Sadness) > (vidMed.Happiness + vidMed.Surprise))
    {
        vidMean = 2;
    }else if ((vidMed.Happiness + vidMed.Surprise) > (vidMed.Anger + vidMed.Contempt + vidMed.Disgust + vidMed.Fear) && (vidMed.Happiness + vidMed.Surprise) > (vidMed.Neutral + vidMed.Sadness))
    {
        vidMean = 3;
    }


    var textMean = 0;
    if ((textMed.Anger + textMed.Disgust + textMed.Fear) > textMed.Sadness && (textMed.Anger + textMed.Disgust + textMed.Fear) > textMed.Joy)
    {
        textMean = 1;
    }
    else if (textMed.Sadness > (textMed.Anger + textMed.Disgust + textMed.Fear) && textMed.Sadness > textMed.Joy)
    {
        textMean = 2;
    }
    else if (textMed.Joy > (textMed.Anger + textMed.Disgust + textMed.Fear)  && textMed.Joy > textMed.Sadness)
    {
        textMean = 3;
    }


    var soundMean = 0;
    if (soundMed.TemperVal > soundMed.ValenceVal && soundMed.TemperVal > soundMed.ArousalVal)
    {
        soundMean = 1;
    }
    else if (soundMed.ValenceVal > soundMed.TemperVal && soundMed.ValenceVal > soundMed.ArousalVal)
    {
        soundMean = 2;
    }
    else if (soundMed.ArousalVal > soundMed.TemperVal && soundMed.ArousalVal > soundMed.ValenceVal)
    {
        soundMean = 3;
    }

    var meanmean = 0;
    if ((vidMean + textMean + soundMean) <= 5)
    {
        meanmean = 1;
    }
    else if ((vidMean + textMean + soundMean) == 6)
    {
        meanmean = 2;
    }
    else if ((vidMean + textMean + soundMean) >= 7)
    {
        meanmean = 3;
    }

}

@section Menu {
    @Scripts.Render("~/Scripts/Home/DashboardV1/menu")
}

<script>
    var modelId = @Html.Raw(Json.Encode(Model.VideoId));
    var modelVideo = @Html.Raw(videoGraph);
    console.log(modelVideo);
    var modelText = @Html.Raw(textGraph);
    console.log(modelText);
    var modelSound = @Html.Raw(soundGraph);
    console.log(modelSound);
</script>

@Styles.Render("~/AdminLTE/plugins/morris/css")
@Styles.Render("~/AdminLTE/plugins/jvectormap/css")
@Styles.Render("~/AdminLTE/plugins/datepicker/css")
@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/plugins/bootstrap-wysihtml5/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-bar-chart-o"></i>
                <h3 class="box-title">Main Sentiments</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="timeline-item">
                            <h4 class="timeline-header videoHeader">
                                <a href="https://www.youtube.com/channel/@Model.ChannelId"> @Model.ChannelTitle</a> shared a video
                            </h4>
                            <span class="time">
                                <i class="fa fa-clock-o"> @Model.PublishedAt</i>
                            </span>
                            <div class="timeline-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <div id="youtubeFrame"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-title" style="text-align: center">Overall Sentiment</h3>
                                @{
                                    if (meanmean == 1)
                                    {
                                        <i class="fa fa-frown-o fa-5x" aria-hidden="true" style="color: red; text-align: center; display: block; margin-left: auto; margin-right: auto;"></i>
                                        <h2 style="text-align: center">Negative</h2>
                                    }
                                    else if (meanmean == 2)
                                    {
                                        <i class="fa fa-meh-o fa-5x" aria-hidden="true" style="color: grey; text-align: center; display: block; margin-left: auto; margin-right: auto;"></i>
                                        <h2 style="text-align: center">Neutral</h2>
                                    }
                                    else if (meanmean == 3)
                                    {
                                        <i class="fa fa-smile-o fa-5x" aria-hidden="true" style="color: green; text-align: center; display: block; margin-left: auto; margin-right: auto;"></i>
                                        <h2 style="text-align: center">Positive</h2>
                                    }
                                }   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="box-title" style="text-align: center">Video</h3>
                                <div class="chart tab-pane" id="videoEmotion-donutS" style="position: relative; height: 200px;"></div>
                            </div>
                            <div class="col-md-4">
                                <h3 class="box-title" style="text-align: center">Text</h3>
                                <div class="chart tab-pane" id="textEmotion-donutS" style="position: relative; height: 200px;"></div>
                            </div>
                            <div class="col-md-4">
                                <h3 class="box-title" style="text-align: center">Sound</h3>
                                <div class="chart tab-pane" id="soundEmotion-donutS" style="position: relative; height: 200px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-bar-chart-o"></i>
                <h2 class="box-title">Video Analysis Graph</h2>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="nav-tabs-custom">
                            <div class="chart tab-pane active" id="videoEmotion-chart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="box-title" style="text-align: center">Average values for Video Analysis</h3>
                        <div class="chart tab-pane" id="videoEmotion-donut" style="position: relative; height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-bar-chart-o"></i>
                <h2 class="box-title">Text Analysis Graph</h2>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="nav-tabs-custom">
                            <div class="chart tab-pane active" id="textEmotion-chart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="box-title" style="text-align: center">Average values for Text Analysis</h3>
                        <div class="chart tab-pane" id="textEmotion-donut" style="position: relative; height: 300px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                @{
                                    int i = 0;
                                    foreach (var m in Model.AspTextAnalisysSegments)
                                    {
                                        if (m.TextSegmentIndex != -1)
                                        {
                                            if (i == 0)
                                            {
                                                <li class="active">
                                                    <a href="#tab_@(i + 1)" data-toggle="tab" id="tby_@i">
                                                        <b>Segment @i</b>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="#tab_@(i + 1)" data-toggle="tab" id="tby_@i">
                                                        <b>Segment @i</b>
                                                    </a>
                                                </li>
                                            }
                                            i++;
                                        }
                                    }
                                }
                            </ul>
                            <div class="tab-content">
                                @{
                                    i = 0;
                                    foreach (var m in Model.AspTextAnalisysSegments)
                                    {
                                        if (m.TextSegmentIndex != -1)
                                        {
                                            if (i == 0)
                                            {
                                                <div class="tab-pane active" id="tab_@(i + 1)">
                                                    <b>Text from Segment @i</b>
                                                    <p>@m.TextFromSpeech </p>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="tab-pane" id="tab_@(i + 1)">
                                                    <b>Text from Segment @i</b>
                                                    <p>@m.TextFromSpeech </p>
                                                </div>
                                            }
                                            i++;
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-bar-chart-o"></i>
                <h2 class="box-title">Sound Analysis Graph</h2>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-default btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="nav-tabs-custom">
                            <div class="chart tab-pane active" id="soundEmotion-chart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="box-title" style="text-align: center">Average values for Sound Analysis</h3>
                        <div class="chart tab-pane" id="soundEmotion-donut" style="position: relative; height: 300px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                @{
                                    i = 0;
                                    foreach (var m in Model.AspSoundAnalisysSegments)
                                    {
                                        if (m.SoundSegmentIndex != -1)
                                        {
                                            if (i == 0)
                                            {
                                                <li class="active">
                                                    <a href="#tab@(i + 1)" data-toggle="tab" id="tbz_@i">
                                                        <b>Segment @i</b>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="#tab@(i + 1)" data-toggle="tab" id="tbz_@i">
                                                        <b>Segment @i</b>
                                                    </a>
                                                </li>
                                            }
                                            i++;
                                        }
                                    }
                                }
                            </ul>
                            <div class="tab-content">
                                @{
                                    i = 0;
                                    foreach (var m in Model.AspSoundAnalisysSegments)
                                    {
                                        if (m.SoundSegmentIndex != -1)
                                        {
                                            if (i == 0)
                                            {
                                                <div class="tab-pane active" id="tab@(i + 1)">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <b>Primary mood description from Segment @i</b>
                                                            <p>@m.MoodPrimary </p>
                                                            <b>Secondary mood description from Segment @i</b>
                                                            <p>@m.MoodSecondary </p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <b>Primary composite description from Segment @i</b>
                                                            <p>@m.CompositePrimary </p>
                                                            <b>Secondary composite description from Segment @i</b>
                                                            <p>@m.CompositeSecondary </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="tab-pane" id="tab@(i + 1)">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <b>Gender: @m.Gender</b>
                                                            <b>Primary mood description from Segment @i</b>
                                                            <p>@m.MoodPrimary </p>
                                                            <b>Secondary mood description from Segment @i</b>
                                                            <p>@m.MoodSecondary </p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <b>Gender: @m.Gender</b>
                                                            <b>Primary composite description from Segment @i</b>
                                                            <p>@m.CompositePrimary </p>
                                                            <b>Secondary composite description from Segment @i</b>
                                                            <p>@m.CompositeSecondary </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            i++;
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/jquery-ui/js")
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    @Scripts.Render("~/AdminLTE/plugins/bootstrap-wysihtml5/js")
    @Scripts.Render("~/AdminLTE/plugins/sparkline/js")
    @Scripts.Render("~/AdminLTE/plugins/jvectormap/js")
    @Scripts.Render("~/AdminLTE/plugins/knob/js")
    @Scripts.Render("~/AdminLTE/plugins/raphael/js")
    @Scripts.Render("~/AdminLTE/plugins/morris/js")
    @Scripts.Render("~/AdminLTE/plugins/chartjs/js")
    @Scripts.Render("~/Scripts/Home/DashboardV1")
}