@{
    ViewBag.Title = "Results";
}

@section Menu {
    @Scripts.Render("~/Scripts/Home/DashboardV2/menu")
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Responsive Hover Table</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Video Title</th>
                        <th>Status</th>
                        <th>Video Channel</th>
                        <th>Analisys Date</th>
                    </tr>
                    @{
                        foreach (var m in Model)
                        {
                            <tr>
                                <td><a href="https://www.youtube.com/watch?v=@m.VideoId">@m.VideoTitle</a></td>
                                @if (m.AspVideoAnalysisSegments.Count < 1 || m.AspTextAnalisysSegments.Count < 1 || m.AspSoundAnalisysSegments.Count < 1)
                                {
                                    <td><span class="label label-warning">Pending</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-success">Approved</span></td>
                                }
                                <td><a href="https://www.youtube.com/channel/@m.ChannelId">@m.ChannelTitle</a></td>
                                <td>@m.Date</td>
                                <td>
                                    @using (Html.BeginForm("DashboardV1", "Home", new { videoId = m.VideoId }))
                                    {
                                        <button type="submit" class="btn btn-block btn-success">See analysis</button>
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("DashboardV2", "Home", new { videoId = m.VideoId }))
                                    {
                                        <button type="submit" class="btn btn-block btn-danger">Delete</button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/jquery-ui/js")
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    
    @Scripts.Render("~/Scripts/Home/DashboardV2")
}