@{
    ViewBag.Title = "Perform Analisys";
}

@section Menu {
    @Scripts.Render("~/Scripts/Home/DashboardV0/menu")
}

@model WebApplication.Models.VideoModelList

@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/plugins/icheck/css")
@Styles.Render("~/AdminLTE/plugins/colorpicker/css")
@Styles.Render("~/AdminLTE/plugins/timepicker/css")
@Styles.Render("~/AdminLTE/plugins/select2/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/dist/css/skins")
@Styles.Render("~/AdminLTE/plugins/ionslider/css")

@*Search starting*@
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Search subject:</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("DashboardV0", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.ValidationSummary(true)
            ;
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.VidModList[0].VideoNr, new { @class = "form-control", type = "text", id = "range_5", name = "range_5", value = "" })
                </div>
            </div>
            <div id="datePickerSearch" class="form-group pull-right">
                <label>Date range button:</label>
                <div class="input-group">
                    <span class="fa fa-calendar" style="margin-right: 10px;" aria-hidden="true"></span>
                    @Html.TextBoxFor(m => m.VidModList[0].VideoDates, new {@class = "btn btn-default", type = "text", id = "daterange-btn", placeholder = "Chose date range "})
                </div>
            </div>
            <div class="form-group pull-left">
                <div class="input-group margin">
                    @Html.TextBoxFor(m => m.VidModList[0].VideoQuery, new { @class = "form-control", type = "text", placeholder = "Inser description!"})
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-info btn-flat" name="searchVideo-btn" value="GO!" />
                    </span>
                </div>
                <div class="input-group margin">
                    @Html.ValidationMessageFor(m => m.VidModList[0].VideoQuery, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    </div>
</div>
@*Finish search*@

@if (IsPost && this.ViewData.ModelState.IsValid)
{
    Html.RenderPartial("_SearchVideo");
}




@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/jquery-ui/js")
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    @Scripts.Render("~/AdminLTE/plugins/ionslider/js")
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Home/DashboardV0")
}